[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
pandas = "*"
lxml = "*"
tabulate = "*"
wptools = "*"
pycountry = "*"
aiohttp = "*"

[dev-packages]

[requires]
python_version = "3.11"
